.taskContainer{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    max-width: 48rem;
    margin: 0 auto;
    padding: 0 1rem;
}
.taskGridEmpty{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    gap: 1rem;
    border-top: 1px solid var(--gray-400);
    margin-top: 1.5rem;
    border-radius: 8px;
    display: flex;
}

.taskGridEmpty svg{
    margin-top: 4rem;
    border-radius: 8px;
    width: 3.5rem;
    height: 3.5rem;
    opacity: 0.2;
}

.taskGridEmpty :last-child{
    font-weight: 400;
}

.taskItem{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 1.5rem;
    border-radius: 8px;
    background: var(--gray-500);
    padding: 1.25rem;
    gap: 0.75rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.2;
} 


.taskItem button{
    background: transparent;
    border: 0;
    color: var(--gray-300);
    cursor: pointer;
    line-height: 0;
    border-radius: 4px;
    display: flex;
} 

.taskItemContent{
    display: flex;
    gap: 0.5rem;
    margin-left: 0.5rem;
    justify-content: space-between;
    width: 100%;
}

.taskGrid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--gray-100);
}

.taskItem  input[type=checkbox]{
    width: 1.3rem;
    height: 1.3rem;
    background-color: transparent;
    border-radius: 50%;
    color: var(--blue-300);
    border: 2px solid var(--blue-300);
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;    
} 

.taskItem input[type=checkbox]:checked {
    background-color: var(--purple-500);
    border: 0;
}

.taskItem  input[type=checkbox]:checked::before{
    padding: 0 0.25rem;
    content: "\2713";
    color: var(--gray-100);
} 
